@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', 'sans-serif';
}
/* Add this CSS to your global styles or component styles */
.scroll-transition-left.active {
  transform: translateX(0);
  opacity: 1;
}

.scroll-transition.active {
  transform: translateX(0);
  opacity: 1;
}
